.chocolate-experience-section-X {
    box-sizing: border-box;
    min-width: 1530px;
    padding-right: 48px;
    padding-left: 830px;
    background: url("/assets/image_46cb4a40.png") 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chocolate-experience-sectionX1 {
    box-sizing: border-box;
    max-width: 464px;
    padding-top: 407px;
    padding-bottom: 238px;
  }
  .chocolate-experience-heading-X {
    box-sizing: border-box;
    display: -webkit-box;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font: italic 600 57px/68px "Work Sans", sans-serif;
    color: #fdfdfd;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .chocolate-experience-description-X {
    box-sizing: border-box;
    display: -webkit-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    overflow: hidden;
    font: 500 19px/31px "Albert Sans", sans-serif;
    color: #cac1cc;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .chocolate-collection-button-X {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 149px;
    max-width: 149px;
    height: 59px;
    padding-right: 21px;
    padding-left: 21px;
    margin-top: 64px;
    background: #5c4165;
    border: 1px solid #6a5071;
    border-radius: 59px;
  }
  .collection-title-text-style-X {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font: 600 19px "Albert Sans", sans-serif;
    color: #ede3ee;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }